<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MineNET.Properties.Server" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MineNET.Properties.MineNET" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MineNET.Properties.Server>
            <setting name="ServerMotd" serializeAs="String">
                <value>MineNETServer</value>
            </setting>
            <setting name="UseMaxPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxPlayer" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WorldGameMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>19132</value>
            </setting>
            <setting name="LevelName" serializeAs="String">
                <value>world</value>
            </setting>
            <setting name="LevelType" serializeAs="String">
                <value>Default</value>
            </setting>
            <setting name="WhiteList" serializeAs="String">
                <value>False</value>
            </setting>
        </MineNET.Properties.Server>
        <MineNET.Properties.MineNET>
            <setting name="AutoUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>https://github.com/MineNETDevelopmentGroup/MineNET</value>
            </setting>
        </MineNET.Properties.MineNET>
    </userSettings>
</configuration>