<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NDebug.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NDebug.xsd NDebug.xsd"
      autoReload="true">

  <targets>
    <target name="event"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="LF"
            layout="[${longdate}] [${threadname}/${uppercase:${level:padding=5}}] ${message}"
            fileName="${basedir}/logs/event.log"
            archiveNumbering="Date"
            archiveFileName="${basedir}/logs/{#}-event.log"
            archiveEvery="Day" archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7"/>

    <target name="error"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="LF"
            layout="[${longdate}] [${threadname}/${uppercase:${level:padding=5}}] ${message}"
            fileName="${basedir}/logs/error.log"
            archiveNumbering="Date"
            archiveFileName="${basedir}/logs/{#}-error.log"
            archiveEvery="Day" archiveDateFormat="yyyyMMdd"/>

    <target name="crash"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="LF"
            layout="[${longdate}] [${threadname}/${uppercase:${level:padding=5}}] ${message}${newline}${exception}${newline}${stacktrace}${newline}${environment}"
            fileName="${basedir}/logs/error.log"
            archiveNumbering="Sequence"
            archiveFileName="${basedir}/logs/{#}-crash.report"
            archiveEvery="None" archiveDateFormat="yyyy-MM-dd HH:mm:ss:fff"/>

    <target name="console"
            xsi:type="Console"
            layout="[${longdate}] [${threadname}/${uppercase:${level:padding=5}}] ${message}"/>
  </targets>
  <rules>
    <logger name="*" levels="Info,Warn" writeTo="event"/>
    <logger name="*" levels="Error" writeTo="error"/>
    <logger name="*" level="Fatal" writeTo="crash"/>
    <logger name="*" levels="Debug,Trace,Info,Warn,Error,Fatal" writeTo="console"/>
  </rules>
</nlog>
