<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true">

  <targets>
    <target name="event"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="LF"
            layout="[${longdate}] [${threadname} /${uppercase:${level:padding=5}}] ${message}"
            fileName="${basedir}/logs/event.log"
            archiveNumbering="Date"
            archiveFileName="${basedir}/logs/{#}-event.log"
            archiveEvery="Day" archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7"/>

    <target name="error"
            xsi:type="File"
            encoding="UTF-8"
            lineEnding="LF"
            layout="[${longdate}] [${threadname} /${uppercase:${level:padding=5}}] ${message}"
            fileName="${basedir}/logs/error.log"
            archiveNumbering="Date"
            archiveFileName="${basedir}/logs/{#}-error.log"
            archiveEvery="Day" archiveDateFormat="yyyyMMdd"/>

    <target name="console"
            xsi:type="ColoredConsole"
            useDefaultRowHighlightingRules="false"
            layout="[${longdate}] [${threadname} /${uppercase:${level:padding=5}}] ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Cyan" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
    </target>
  </targets>
  <rules>
    <logger name="*" levels="Debug,Trace,Info,Warn,Error,Fatal" writeTo="event"/>
    <logger name="*" levels="Error,Fatal" writeTo="error"/>
    <logger name="*" levels="Debug,Trace,Info,Warn,Error,Fatal" writeTo="console"/>
  </rules>
</nlog>